*{
    margin:0;
    padding:0;
}

body{
    background-color: lightgray;
}

container{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    border: 2px solid black;
    justify-content: center;
    gap:10px;
}

.square{
    border-radius: 1rem;
    display: flex;
    text-align: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}


button{
    margin-top: 1rem;
    width:11rem;
    padding:10px;
    border-radius: .7rem;
    background-color: lightgreen;
}
.sqaure:hover{
    background-color: #353839;
}

